<!-- default html page for our root page app.route('/'). It's an extension of our base.html template -->

{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} {% endblock %}


{% block body %}

<!--<h1 class="thick yorange montserrat"> From Template Inheritance</h1>-->

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">

                <h2>Manage <b>Games </b> <button type="button" class="btn btn-success pull-right"
                data-toggle="model" data-target="#mymodel"
                >Add Match Played</button> </h2>

                <table class="table table-hover table-dark">

                    <tr>

                        <th>fk_season_id</th>
                        <th>game_num</th>
                        <th>game_minutes</th>
                        <th>home_or_away</th>
                        <th>fk_opp_id</th>

                    </tr>

                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}

