<!-- default html page for our root page app.route('/'). It's an extension of our base.html template -->

{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}


{% block body %}

<!--<h1 class="thick yorange montserrat"> From Template Inheritance</h1>-->

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">

                <h2>Manage <b>Games </b> <button type="button" class="btn btn-success">Add New Game</button> </h2>


            </div>
        </div>
    </div>
</div>

{% endblock %}

